*{
    padding: 0%;
    margin: 0%;
}

.section {
    background-color: #f4f5f7;
}

.form-control {    
    border: 0 !important;   
    margin: 8px;
    box-shadow: none !important;
}


.input-group {
    width: 100%;  
    background: #fff;
    margin: auto;
}


.cfont {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.header {
    background-image: url("../assets/img/pages/2.jpg");
   
    background-size: cover;
    background-position: center;
}

.content-overlay {
    text-align: center;
    z-index: 1;
    margin-top: -550px;
    margin-bottom: 10%;
    margin-left: 600px;
    width: 18rem;

}

.content-overlay .card-body {
    padding-top: 80px;
    padding-bottom: 100px;
}

.packages .card {
    position: relative;
    box-shadow: 1px 2px 50px 0px rgba(207, 219, 224, 0.349);
    border-radius: 5px;
}

.view-more {
    text-align: center;
}