*{
    
    padding: 0%;
    margin: 0%;
}

.background-color {
    background-color: #f6f9fc;
}

.header {   
    padding-top: 170px;
    padding-bottom: 200px;
    height: 100%;
}

.form-control {    
    border: 0 !important;   
    margin: 8px;
    box-shadow: none !important;
}


.input-group {
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}


.cfont {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    padding-bottom: 30px;
    text-align: center;
}