*{
    padding: 0%;
    margin: 0%;
}

.form-control {    
    border: 0 !important;   
    margin: 8px;
    box-shadow: none !important;
}


.input-group {
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}


.cfont {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.header {
    background-image: url("../assets/img/pages/2.jpg");
}

.content-overlay {
    text-align: center;
    z-index: 1;
    margin-top: -550px;
    margin-bottom: 10%;
    margin-left: 600px;
    width: 18rem;

}

.card-body {
    padding-top: 80px;
    padding-bottom: 100px;
}

.view-more {
    text-align: center;
}